<div class="container" style="padding-top: 120px">
  <h3>Contactenos</h3>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi tempora
    deserunt sequi, voluptate ipsa porro consequuntur itaque. Vel, perferendis
    dolores. Tenetur nisi, reiciendis sequi laudantium itaque aliquid alias
    molestias magnam?
  </p>
  <div class="row">
    <div class="col-6">
      <form [formGroup]="contactusForm" method="post">
        <div class="form-group">
          <input
            type="text"
            formControlName="nombre"
            placeholder="Ingrese nombre"
            class="form-control"
          />
        </div>
        <div class="form-group">
          <input
            type="text"
            formControlName="apellido"
            placeholder="Ingrese apellido"
            class="form-control"
          />
        </div>
        <div class="form-group">
          <input
            type="email"
            formControlName="correo"
            placeholder="Ingrese correo"
            class="form-control"
          />
        </div>
        <div class="form-group">
          <textarea
            formControlName="mensaje"
            placeholder="Ingrese mensaje"
            rows="3"
            class="form-control"
          ></textarea>
        </div>
        <div class="form-group">
          <button (click)="_onSubmit()" class="btn-primary">Enviar Datos</button>
        </div>
      </form>
      <p>
          Datos del formulario: {{ contactusForm.value | json }}
      </p>
    </div>
    <div class="col-6">Aquí va el mapa</div>
  </div>
</div>
